.main_container {
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: space-between;
}

.seaction-image {
  background-position: center;
  background-size: cover;
  height: 200px;
  width: 625px;
  background-color: gray;
  margin-bottom: 200px;
}

#backdrop {
  height: 200px;
  background-color: gray;
  height: -15px;
  position: absolute;
  /* top: 26px; */
  width: 624px;
  opacity: 0.5;
}

.seaction-image #rating-section {
  width: 60px;
  border-radius: 5px;
  text-align: center;
  position: relative;
  font-size: 10px;
  background-color: sandybrown;
  font-weight: 800;
  color: white;
  padding: 5px;
  box-sizing: border-box;
  margin-left: 537px;
  margin-top: 10px;
}

#section-tags {
  position: relative;
}

#section-tags-1 {
  position: absolute;
  display: flex;
  top: 125px;
  left: 17px;
}

#section-tags-1 div {
  background-color: white;
  padding: 5px;
  border-radius: 20px;
  margin-right: 10px;
  text-transform: capitalize
}

#college-details {
  display: flex;
  margin-top: 160px;
  border: 1px solid whitesmoke;
  border-radius: 5px;
}

#name {
  width: 70%;
  margin-left: 5px;
}

#name > p {
  font-weight: 800;
  display: inline-block;
  margin-right: 15px;
}

.star-icon {
  font-size: 12px;
  margin-right: 2px;
}

#nearesr-place {
  margin-top: -20px;
}

#nearesr-place > p {
  display: inline-block;
  font-size: 15px;
  font-weight: 600;
  color: gray;
}

#nearesr-place > div {
  display: inline-block;
  height: 15px;
  border-right: 1px solid black;
  margin-left: 8px;
  margin-right: 11px;
}

#nearesr-place > span {
  font-size: 12px;
  font-weight: 700;
}

#famous-places {
  margin-top: -16px;
  font-size: 14px;
}

#famous-places p span:nth-child(1){
  color: skyblue;
  font-weight: 700;
 

}

#famous-places p span:nth-child(2) {
  font-weight: bold;
}

#famous-places p span:nth-child(4) {
  font-weight: bold;
}

#famous-places p span:nth-child(5) {
  font-weight: bold;
}

#price {
  width: 40%;
}

#original-fee {
  position: relative;
  margin-left: 111px;
  margin-top: 13px;
  font-size: 12px;
  color: gray;
}


#original-fee div {
    border-top: 0.7px solid gray;
    width: 24px;
    position: absolute;
    top: 7px;
    margin-left: 11px;
  }

  #discount{
    color: white;
    display: inline-block;
    background-color: red;
    width: 21px;
    text-align: center;
    font-size: 11px;
    font-weight: bold

  }

  

