<div
  class="main_container"
  infinite-scroll
  style="flex:none"
  [scrollWindow]="true"
  (scrolled)="onScrollDown()"
  [fromRoot]="false"
  [infiniteScrollDistance]="0.5"
>
  <div
    class="seaction-image"
    style=" background-image: url(././assets/image/college_02.jpg);"
    *ngFor="let x of List; let i = index"
  >
    <div id="backdrop"></div>
    <div id="rating-section">
      <div>{{ x.rating }}/5</div>
      <div>
        {{ x.rating_remarks }}
      </div>
    </div>
    <div id="section-tags">
      <div id="section-tags-1">
        <div *ngFor="let y of x.tags">
          {{ y }}
        </div>
      </div>
    </div>

    <div id="college-details">
      <div id="name">
        <p>
          {{ x.college_name }}
        </p>
        <span>
          <i class="fa fa-star star-icon" aria-hidden="true"></i>
          <i class="fa fa-star star-icon" aria-hidden="true"></i>
          <i class="fa fa-star star-icon" aria-hidden="true"></i>
          <i class="fa fa-star star-icon" aria-hidden="true"></i>
          <i class="fa fa-star star-icon" aria-hidden="true"></i>
        </span>
        <div id="nearesr-place">
          <p>
            {{ x.nearest_place[0] }}
          </p>
          <div></div>

          <span>{{ x.nearest_place[1] }}</span>
        </div>

        <div id="famous-places">
          <p>
            <span>
              93% & Match :
            </span>

            <span>
              {{ x.famous_nearest_places.split(",")[0].split(" ")[0] }}
            </span>
            <span>
              {{ x.famous_nearest_places.split("kms")[1].split(",")[0] }},
            </span>

            <span>
              {{ x.famous_nearest_places.split(",")[1].split(" ")[1] }}
            </span>

            <span>
              {{ x.famous_nearest_places.split(",")[1].split(" ")[2] }}
            </span>

            <span>
              {{ x.famous_nearest_places.split(",")[1].split("Kms")[1] }}
            </span>
          </p>
        </div>
      </div>

      <div id="price">
        <div id="original-fee">
          <span>
            <i class="fa fa-inr" aria-hidden="true"></i>
          </span>
          <span style="letter-spacing: 0.7px">
            {{ x.original_fees | number }}
          </span>
          <div></div>

          <span id="discount">
            {{ x.discount }}
          </span>
        </div>
        <div
          style="margin-left: 100px;
              margin-top: -18px;"
        >
          <p
            style="font-size: 25px;font-weight: 700;color: red;letter-spacing: 0.6px"
          >
            <span>
              <i class="fa fa-inr" aria-hidden="true"></i>
            </span>
            <span>
              {{ x.discounted_fees | number }}
            </span>
          </p>
          <p
            style="
                    font-size: 12px;
                    margin-top: -25px;
                    margin-left: -28px;
                    color: gray;"
          >
            {{ x.fees_cycle }}
          </p>
          <div
            style="font-weight: 700;
                margin-left: -49px;
                font-size: 12px;
                color: skyblue;"
          >
            <span style="margin-right: 11px" *ngFor="let z of x.amenties">
              {{ z }}
            </span>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
