<div class="container">
  <div>
    <span style="font-size: 34px;color: red"
      ><i class="fa fa-car" aria-hidden="true"></i
    ></span>

    <span
      style="font-weight: bolder;color: red;margin-left: 10px;font-size: 20px"
      >Go</span
    >
    <span style="font-weight: bolder;color: black;font-size: 20px"
      >Mechanic</span
    >
  </div>

  <div id="select-location">
    <select style="width: 181px; padding: 4px">
      <option value="Gurgaon">Gurgaon</option>
      <option value="Noida">Noida</option>
    </select>
  </div>

  <div id="phone-logo">
    <span>
      <i style="margin-top: 11px" class="fa fa-phone"></i>
    </span>
  </div>
</div>

<div id="logo">
  <img
    src="../assets/image/images.jpeg"
    alt="image"
    height="100%"
    width="50%"
    style="border-radius:10px "
  />
</div>

<div class="container_2">
  <div id="select-car">
    <select>
      <option value="Select your car">Select your car</option>
      <option value="Noida">Noida</option>
    </select>
  </div>

  <div id="enter-mobile-number">
    <input type="text" placeholder="Enter Mobile Number" />
  </div>
  <div>
    <button>
      Check Price
    </button>
  </div>
</div>

<div class="container_3">
  <div style="width: 40%">
    <p style="text-align: end;margin-right: 8%">
      <span><i class="fa fa-star" aria-hidden="true"></i> </span>
      <span style="font-size: 25px;font-weight: bolder">
        4.5 /
      </span>
      <span style="font-size: 20px">5</span>
    </p>
    <p
      style="text-align: end;margin-top: auto;font-size: 25px;
      font-weight: 700;color: gray"
    >
      Based On 500+
    </p>
    <p
      style="font-size: 25px;
      text-align: end;
      margin-right: 8%;
      font-weight: 700;
      color: gray;
      margin-top: -2%;"
    >
      reviews
    </p>
  </div>

  <div style="width: 20%">
    <div class="vertical"></div>
  </div>

  <div id="repaired" style="width: 40%">
    <p>
      2 Million+
    </p>
    <p>Cars Serviced and</p>
    <p>Repaired</p>
  </div>
</div>

<div>
  <div class="hr"></div>
</div>

<div class="container_4">
  <div>
    <h1>
      Our Services
    </h1>
  </div>

  <div>
    <p>
      Nulla eleifend pulvinar purus, molestie euismod odio imperdiet ac. Ut sit
      amet erat nec nibh rhoncus.
    </p>
  </div>
</div>

<div class="container_5">
  <div>
    <img
      src="../assets/image/images.jpeg"
      alt="image"
      width="100%"
      height="100%"
      style="border-radius:10px "
    />
  </div>

  <div>
    <img
      src="../assets/image/images.jpeg"
      alt="image"
      width="100%"
      height="100%"
      style="border-radius:10px "
    />
  </div>

  <div>
    <img
      src="../assets/image/images.jpeg"
      alt="image"
      width="100%"
      height="100%"
      style="border-radius:10px "
    />
  </div>
</div>

<div>
  <div class="hr"></div>
</div>

<div class="container_4">
  <div>
    <h1>
      How GoMechanic works?
    </h1>
  </div>

  <div class="child">
    <div>
      <i class="fa fa-car" aria-hidden="true"></i>
    </div>
    <div>
      <h2>Select what's best for your car</h2>

      <span class="importent">
        Find from a wide variety of packages & services.
      </span>
    </div>
  </div>
</div>

<div>
  <div class="hr"></div>
</div>

<div
  style="display: flex;flex-direction: column;flex-shrink: 1;margin-top: 20px"
>
  <div id="brand" style="width: 100%">
    <span>
      Brands We Service
    </span>
    <span>
      A Big Handful of Them
    </span>
  </div>

  <div style="display: flex;justify-content: space-evenly ; margin-top: 25px">
    <div>
      <img
        src="../assets/image/download (5).png"
        alt="image"
        width="80%%"
        height="100%"
        style="border-radius:10px "
      />
    </div>

    <div>
      <img
        src="../assets/image/download (5).png"
        alt="image"
        width="80%"
        height="100%"
        style="border-radius:10px "
      />
    </div>
    <div>
      <img
        src="../assets/image/download (5).png"
        alt="image"
        width="80%"
        height="100%"
        style="border-radius:10px "
      />
    </div>
  </div>
</div>

<div class="container_6">
  <div id = 'logo_car'>
    <span>
      <i
        style="color: white;font-size: 80px"
        class="fa fa-car"
        aria-hidden="true"
      ></i>
    </span>
    <p>
      Go Mechanic
    </p>
  </div>

  <div id = "adderss">
    <p
      style="color: wheat;
      font-size: 30px;
  "
    >
      3rd Floor, Landmark Tower, Moti Vihar, Ashok Marg, South City I, Sector
      41, Gurugram, Haryana 122001
    </p>
  </div>

  <div id = "phone-deteials">
    <p >
      <span >
        <i class="fa fa-phone"></i>
      </span>
      <span >
        Phone Number
      </span>
      <span>
        93581-23451
      </span>
    </p>
  </div>
</div>
